html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("./img/mountain_bg_base.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bg-glassmorphism {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

footer {
    margin-top: auto;
    width: 100%;
}

.logo-img {
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    max-width: 10rem;
}

@media print {
    nav, footer, .navbar-brand {
        display: none;
    }
}